body {
    overflow-x: hidden;
}

.headerr {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: aquamarine;
    z-index: 16;
}

.redondeado {
    border-radius: 20px
}

.herramientas {
    background-color: #343a40;
    padding: 3% 10%;
    color: #fff;
}

.portafolio {
    padding: 6%;
}

.tituloo {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
}

.inicio {
    background-color: aquamarine;
    width: 100%;
    height: 857px;
}

#Estudios {
    margin-top: 30px;
}

.negro {
    color: #000;
    z-index: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

@media (max-width:1920px) {
    #ocultar {
        display: none;
    }
}
